.Education {
  padding: 0 100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.Education__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Education__title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 3rem;
  margin-bottom: 20px;
  border-bottom: 5px solid #000;
  font-weight: 900;
}

.Education__title--darkMode {
  border-bottom: 5px dotted #fff;
}

.Education__right {
  background-image: url("../img/aup-pic.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  width: 50%;
  position: relative;
  border: 10px outset #000;
  border-radius: 1rem;
}

.Education__right--darkMode {
  border: 10px outset #fff;
}

.Education__schoolLogo {
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-90%, -20%);
  height: 40%;
  width: 40%;
  object-fit: contain;
  margin: 0 auto;
}

.Education__year {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .Education {
    flex-direction: column;
    justify-content: center;
    gap: 2em;
  }

  .Education__left {
    text-align: center;
  }

  .Education__right {
    height: 30%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .Education {
    padding: 0 50px;
  }

  .Education__title {
    font-size: 2.5rem;
  }

  .Education__schoolName {
    font-size: 1.1rem;
  }

  .Education__course {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .Education__year {
    font-size: 0.9rem;
  }
}
