.Header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 100px;
}

.Header__logo {
  font-family: "Agdasima", sans-serif;
  letter-spacing: 3px;
}

.Header__mode {
  cursor: pointer;
  height: 50%;
  width: fit-content;
  object-fit: contain;
  transition: all 0.2s ease;
  padding: 5px;
  margin: 5px;
}

.Header__mode:hover {
  background-color: var(--color-dark);
  border-radius: 50%;
}

.Header__mode--darkMode:hover {
  background-color: var(--color-light);
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .Header {
    gap: 2em;
    padding: 0 50px;
  }
  .Header__logo {
    font-size: 1.3rem;
  }
  .Header__mode {
    height: 40%;
  }
}
