.Hobbies {
  padding: 0 100px;
  height: 100vh;
  /* TODO: Remember to put an overflow so that the hobbies cards can be scrolled */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.Hobbies__top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex: 0.9;
  gap: 3em;
}

.Hobbies__title {
  text-transform: uppercase;
  letter-spacing: 10px;
  border: 5px dashed #000;
  padding: 20px;
  flex: 0.2;
  font-weight: 900;
}

.Hobbies__title--darkMode {
  border: 5px dashed #fff;
}

.Hobbies__container {
  flex: 0.8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2em;
  /* overflow: scroll; */
}

.Hobbies__item {
  border: 3px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e2022;
  color: #f0f5f9;
  transition: all 0.2s ease;
}

.Hobbies__item:hover {
  background-color: #f0f5f9;
  color: #1e2022;
}

.Hobbies__item--darkMode {
  border: 3px solid #fff;
  background-color: #f0f5f9;
  color: #1e2022;
}

.Hobbies__item--darkMode:hover {
  background-color: #52616b;
  color: #f0f5f9;
}

.Hobbies__item > h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.Hobbies__item > img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.Hobbies__bottom {
  text-align: center;
}

.Hobbies__footer > span {
  font-weight: bold;
}
