.Intro {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  padding-bottom: 50px;
}

.Intro__title {
  background: linear-gradient(90deg, var(--color-dark), var(--color-lessDark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6em;
}

.Intro__title--darkMode {
  background: linear-gradient(
    90deg,
    var(--color-light),
    var(--color-lessLight)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Intro__subtitle {
  font-size: 1rem;
}

.Intro__left {
  flex: 0.5;
}

.Intro__middle {
  flex: 2.5;
  text-align: center;
}

.Intro__right {
  flex: 0.5;
}

.Intro__profilePicture {
  height: 20em;
  width: fit-content;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .Intro__title {
    font-size: 4em;
  }

  .Intro__subtitle {
    font-size: 0.8rem;
  }

  .Intro__profilePicture {
    height: 15em;
  }
}

@media screen and (max-width: 500px) {
  .Intro {
    padding: 0 50px;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .Intro__title {
    font-size: 2.5em;
  }

  .Intro__subtitle {
    font-size: 0.7rem;
  }
}
