.Intro {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  padding-bottom: 50px;
}

.Intro__title {
  background: linear-gradient(90deg, var(--color-dark), var(--color-lessDark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6em;
}

.Intro__title--darkMode {
  background: linear-gradient(
    90deg,
    var(--color-light),
    var(--color-lessLight)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Intro__subtitle {
  font-size: 1rem;
}

.Intro__subtitle:nth-of-type(2) {
  font-size: 1.2rem;
  margin-top: 10px;
  border: 1px outset #1e2022;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 0.3rem;
}

.Intro__left {
  flex: 1;
}

.Intro__middle {
  flex: 2;
  text-align: center;
}

.Intro__right {
  flex: 1;
}

.Intro__profilePicture {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
