.Main {
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
}

.Main__header {
  font-weight: 900;
  font-size: 2.5rem;
}

.Main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding-block: 10px;
  border-top: 5px outset #000;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom: 5px outset #000;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.Main__description > span {
  font-size: larger;
  font-weight: 700;
}

.Main__footer {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
}
