.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
}

.Main__header {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.Main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 20px;
  border-top: 5px outset #000;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom: 5px outset #000;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.3s ease;
}

.Main__content--darkMode {
  border-top: 5px outset #fff;
  border-bottom: 5px outset #fff;
}

.Main__content:hover {
  background-color: #52616b;
  color: #f0f5f9;
  transform: scale(1.025);
}

.Main__content--darkMode:hover {
  background-color: #f0f5f9;
  color: #52616b;
  transform: scale(1.025);
}

.Main__description > span {
  font-size: larger;
  font-weight: 700;
}

.Main__footer {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
}

.Main__left {
  width: fit-content;
  height: fit-content;
}

.Main__left > img {
  height: 20em;
  width: fit-content;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .Main__content {
    flex-direction: column;
    gap: 1em;
    text-align: center;
    margin: 30px 0;
    padding: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .Main {
    padding: 0 50px;
  }

  .Main__header {
    font-size: 1.5rem;
  }

  .Main__left > img {
    height: 15em;
  }

  .Main__description {
    font-size: 0.9rem;
  }
}
