* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.1s ease;
}

:root {
  --color-light: #f0f5f9;
  --color-lessLight: #c9d6df;
  --color-lessDark: #52616b;
  --color-dark: #1e2022;
}
